* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

.web{
  background-color: black;
}

.cnt {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    padding: 20px;
    background-color:black;
}

.text-content {
    flex: 1;
    padding: 20px;
    color: aliceblue;
}

.image-content {
    flex: 1;
}

.image-content img {
    width: 30vw;
    height: 60vh;
    border-radius: 10px;
    margin-left: 80px;
}

.award {
    color: palevioletred;
    font-size: 1.2em;
    margin-bottom: 10px;
    margin-left: 50px;
}

.title {
    font-size: 4em;
    margin-bottom: 20px;
    margin-left: 50px;
    color: white;
}

.description {
    font-size: 1em;
    margin-bottom: 30px;
    margin-left: 50px;

}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: red;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    margin-left: 50px;
    margin-top: 30px;
    width: 20vw;
    font-size: 20px;
}


/* contact forms */

body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    color: aliceblue;
  }
  
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-color: black;
    padding: 30px;
    box-sizing: border-box;
  }
  
  .form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 300px;
    
  }
  
  h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
   
  }
  
  input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    margin-bottom: 20px;
    width: 100%;
  }
  
  .checkbox {
    display: flex;
    align-items:center ;
    margin-right: 100px;
  }
  
  .checkbox-container label {
    font-size: 20px;
    color: #333;
    cursor: pointer;
    
  }

  .checkbox input {
    display: inline;
    margin-bottom: 30px;
    
  }
  
  .button {
    background-color: #ff4d4d;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    cursor: pointer;
    transition: background-color 0.3s;
    align-items: center;
    margin-right: 20px;
    width: 18vw;
    margin-left: 0px;
  }
  
  .button:hover {
    background-color: #ff3333;
  }

  /* slider */
  .product {
    position: relative;
    overflow: hidden;
    padding: 20px;
    background-color: black;
  }
  
  .product-category {
    padding: 0 10vw;
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 40px;
    text-transform: capitalize;
    color: palevioletred;
  }

  .product-heading1 {
    padding: 0 10vw;
    font-size: 3rem;
    text-transform: capitalize;
    
  }

  .product-para{
    justify-content: right;
    text-align: right;
    padding-left: 800px ;
    margin-bottom: 100px;
    margin-right: 50px;
  }
  
  .product-container {
    padding: 0 10vw;
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
  }
  
  .product-container::-webkit-scrollbar {
    display: none;
  }
  
  .product-card {
    flex: 0 0 auto;
    width: 250px;
    height: 450px;
    margin-right: 40px;
  }
  
  .product-image {
    position: relative;
    width: 100%;
    height: 350px;
    overflow: hidden;
  }
  
  .product-thumb {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .discount-tag {
    position: absolute;
    background: #fff;
    padding: 5px;
    border-radius: 5px;
    color: #ff7d7d;
    right: 10px;
    top: 10px;
    text-transform: capitalize;
  }
  
  .card-btn {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px;
    width: 90%;
    text-transform: capitalize;
    border: none;
    outline: none;
    background: #fff;
    border-radius: 5px;
    transition: 0.5s;
    cursor: pointer;
    opacity: 0;
  }
  
  .product-card:hover .card-btn {
    opacity: 1;
  }
  
  .card-btn:hover {
    background: #ff7d7d;
    color: #fff;
  }
  
  .product-info {
    width: 100%;
    height: 100px;
    padding-top: 10px;
  }
  
  .product-brand {
    text-transform: uppercase;
  }
  
  .product-short-description {
    width: 100%;
    height: 20px;
    line-height: 20px;
    overflow: hidden;
    opacity: 0.5;
    text-transform: capitalize;
    margin: 5px 0;
  }
  
  .price {
    font-weight: 900;
    font-size: 20px;
  }
  
  .actual-price {
    margin-left: 20px;
    opacity: 0.5;
    text-decoration: line-through;
  }
  
  .pre-btn,
  .nxt-btn {
    border: none;
    width: 10vw;
    height: 100%;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #fff 100%);
    cursor: pointer;
    z-index: 8;
  }
  
  .pre-btn {
    left: 0;
    transform: rotate(180deg);
  }
  
  .nxt-btn {
    right: 0;
  }
  
  .pre-btn img,
  .nxt-btn img {
    opacity: 0.2;
  }
  
  .pre-btn:hover img,
  .nxt-btn:hover img {
    opacity: 1;
  }
  
  .collection-container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
  }
  
  .collection {
    position: relative;
  }
  
  .collection img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .collection p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
    font-size: 50px;
    text-transform: capitalize;
  }
  
  .collection:nth-child(3) {
    grid-column: span 2;
    margin-bottom: 10px;
  }
  

  .product-layer{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background: linear-gradient(rgba(0,0,0,0.1), red); */
    background: #ff3333;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 0 4rem;
    transform: translateY(100%);
    transition: .5s ease;
  }

  .product-card:hover .product-layer {
    transform : translateY(0);
  }

  .product-layer h3{
    font-size: 2rem;
  }

  .product-layer p {
    font-size: 1rem;
    margin: .3rem 0 1rem;
  }


  /* LEFT IMAGE SLIDER */

  .custom-container {
    display: flex;
    width: 80%;
    margin: 20px auto; /* Center the container horizontally within its parent */
}

.image-section {
    flex: 1; /* This section will take up one part of the available space */
    padding: 20px;
    display: flex;
    align-items: flex-start; /* Align content to the top */
}

.image-section img {
    width: 50vw;
    height: 70vh;
    border-radius: 5px;
}

.content-section {
    flex: 2; /* This section will take up two parts of the available space */
    padding: 20px;
    display: flex;
    flex-direction: column; /* Stack the content vertically */
    align-items: flex-start; /* Align content to the top */
    justify-content: flex-start; /* Ensure content starts from the top */
    
}

.content {
    padding: 10px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
    width: 100%;
    background-color: #444;
    cursor: pointer;
    height: 22vh;
}

.content h2 {
    margin: 0 0 10px;
    font-size: 1.5rem;
    color: burlywood;
}

.content p {
    margin: 0;
}

.content:hover {
    background-color: #555;
}

.page3 {
  background-color: black;
  padding-top: 100px;
  
}


.choose-us {
  color: wheat;
  text-align: center;
}

.why-chooseUS{
  color: #ff3333;
  padding: 20px;
  text-align: center;
  font-size: 20px;
}

.page3-h2 {
  color: burlywood;
  text-align: center;
  font-size: 50px;
}

.choos-layer {
  display: inline-block;
  width: 300px;
  margin: 20px;
}

.choos-layer i {
  font-size: 40px;
  color: aqua;
}

.choos-layer h4{
  padding-top: 10px;
  font-size: 20px;
  color: #fff;
}

.choos-layer p {
margin-top: 20px;
color: antiquewhite;
}

/* Fotter */

/* .fotter-para {
  text-align: center;
  color: #ff7d7d;
  padding-top: 200px;

}

.fotter h2{
  text-align: center;
  padding-top: 20px;
  font-size: 3rem;
}

.fotter-content {
    flex: 2; /* This section will take up two parts of the available space */
    /* display: flex;
    flex-direction: row; Stack the content vertically */
    /* align-items: flex-start; /* Align content to the top */
    /* justify-content: flex-start; Ensure content starts from the top */ */
/* }

.fotter-layer{
  max-width: 200px;
  margin-left: 200px;
  margin-top: 100px;
  margin-bottom: 200px;
  border-color: #fff;
  border: 1px solid #ccc;
  box-sizing: border-box;
  width: 200px;
  padding: 20px;
}

.fotter-layer :hover {
  color: #ccc;
}

.fotter-layer i {
  align-items: center;
} */ 

.stats-container {
  background-color: #fff;
  padding: 20px;
  border: 1px solid #ddd;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.stats-container h2{
  text-align: center;
  margin-top: 15px;
  font-size: 3rem;
  color: bisque;

}

.stats-para{
  color: #ccc;
  text-align: center;
  margin-top: 150px;
  color: palevioletred;
  font-size: 1.5rem;
}

.stats {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

}

.stat {
  width: 200px;
  height: 200px;
  margin: 20px;
  text-align: center;
  transition: transform 0.2s ease-in-out;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.stat:hover {
  transform: scale(1.1);
}

.stat i {
  font-size: 36px;
  color: #666;
  margin-top: 40px;
}

.stat p {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.stat span {
  font-size: 18px;
  color: #999;
}